<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immomo.mls" >

    <!--internet-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--write file-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--network state-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>
