<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mln.fileexplorer" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name="com.mln.fileexplorer.ChooseFileActivity"/>
    </application>
</manifest>
