<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【黄金Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case1.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂1号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>1W+</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>12小时前</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【黄金Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case2.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂2号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>1W+</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>10小时前</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【青铜Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case3.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂3号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>13</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>3小时前</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【黄金Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case1.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂4号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>1W+</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>44分钟前</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【黄金Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case2.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂5号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>1W+</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>9分钟前</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【钻石Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case3.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂6号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>1W+</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>8分钟前</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【黄金Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case1.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂7号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>1W+</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>8分钟前</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【黄金Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case2.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂8号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>1W+</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>刚刚</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>沙发！</string>
		<key>grade</key>
		<string>【黄金Ⅱ】</string>
		<key>icon</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/case3.jpg</string>
		<key>moreReply</key>
		<string>更多回复</string>
		<key>name</key>
		<string>蜜蜂9号</string>
		<key>praise</key>
		<string>https://s.momocdn.com/w/u/others/custom/MLNUI/Checked.png</string>
		<key>praiseNum</key>
		<string>1W+</string>
		<key>reply1</key>
		<string>峰峰好帅！！！！</string>
		<key>reply2</key>
		<string>转动物世界的电影票2张，欲购从速！</string>
		<key>replyName1</key>
		<string>小妮妮:</string>
		<key>replyName2</key>
		<string>百变小魔女:</string>
		<key>time</key>
		<string>刚刚</string>
	</dict>
</array>
</plist>
